services:

  ocrd-manager:
    build:
      context: .
      # args:
      #   VCS_REF: ...
      #   BUILD_DATE: ...

    image: ${MANAGER_IMAGE}

    hostname: ${MANAGER_HOST}

    environment:
      UID: ${MANAGER_ENV_UID}
      GID: ${MANAGER_ENV_GID}
      UMASK: ${MANAGER_ENV_UMASK}
      CONTROLLER: "${CONTROLLER_HOST}:${CONTROLLER_PORT_SSH}"
      DB_CONNECTION: "mongodb://${MONITOR_DB_ROOT_USER:-root}:${MONITOR_DB_ROOT_PASSWORD:-root_password}@ocrd-database:27017"
      ACTIVEMQ: "${MQ_HOST}:${MQ_PORT}"
      ACTIVEMQ_CLIENT_QUEUE: "${MQ_CLIENT_QUEUE}"

    ports:
      - ${MANAGER_PORT_SSH}:22
      - ${MANAGER_PORT_WEB}:4004

    # must have been started independently:
    # depends_on:
    #   - ocrd-controller

    volumes:
      - type: bind
        source: ${MANAGER_KEYS} # Kitodo public key (for access to Manager)
        target: /authorized_keys
      - type: bind
        source: ${MANAGER_KEY} # Manager private key (for access to Controller)
        target: /id_rsa
      - ${MANAGER_DATA}:/data # metadata directory
      - ${MANAGER_WORKFLOWS}:/workflows
      - shared:/run/lock/ocrd.jobs

    tty: true # docker run -t

volumes:
  shared:
