{% extends 'base.html' %}

{% block meta %}
<meta http-equiv="refresh" content="5" />
{% endblock %}

{% block headline %}
{% block title %}Jobs{% endblock %}
{% endblock %}

{% block content %}
<h2 class="title">Active Jobs</h2>
<table class="table">
  <thead>
    <tr>
      <th>TASK ID</th>
      <th>PROCESS ID</th>
      <th>WORKFLOW</th>
      <th>PID</th>
      <th>STATUS</th>
      <th>% CPU</th>
      <th>MB RSS</th>
      <th>DURATION</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs: %}
    {% if job.pid is defined: %}
    <tr>
      <td>{{ job.task.id }}</td>
      <td>{{ job.process.id }}</td>
      <td>{% if job.workflow is defined %}<a href="{{ url_for('workflow.detail', path=job.workflow.path) }}">{{ job.workflow.name }}</a>{% endif %}</td>
      <td>{{ job.pid }}</td>
      <td>{{ job.status }}</td>
      <td>{{ job.cpuutil }}</td>
      <td>{{ job.memrss }}</td>
      <td>{{ job.duration }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
<h2 class="title">Inactive Jobs</h2>
<table class="table">
  <thead>
    <tr>
      <th>TASK ID</th>
      <th>PROCESS ID</th>
      <th>WORKFLOW</th>
      <th>RETVAL</th>
      <th>WORKSPACE</th>
      <th>LOGS</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs: %}
    {% if job.retval is defined: %}
    <tr>
      <td>{{ job.task.id }}</td>
      <td>{{ job.process.id }}</td>
      <td>{% if job.workflow is defined %}<a href="{{ url_for('workflow.detail', path=job.workflow.path) }}">{{ job.workflow.name }}</a>{% endif %}</td>
      <td>{{ job.retval }} {% if job.retval == "0" %}(SUCCESS){% else %}(FAILURE){% endif %}</td>
      <td>{% if job.workspace is defined: %}
        <a href="{{ url_for('workspaces.index', workspace=job.workspace.path) }}">{{ job.workspace.name }}</a>
        {% endif %}
      </td>
      <td>{% if job.workspace is defined: %}
        <a href="{{ url_for('logs.view', path=job.workspace.path) }}">ocrd.log</a>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
