{% extends 'base.html.j2' %}

{% block headline %}
  {% block title %}Home{% endblock %}
{% endblock %}

{% block content %}
  <ul>
    <li><a href="{{ url_for('workspaces.list') }}">Workspaces</a></li>
    <li><a href="{{ url_for('jobs') }}">Jobs</a></li>
    <li><a href="{{ url_for('logview') }}">Logs</a></li>
  </ul>
{% endblock %}
