<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

    <style>
        body {
            display: grid;
            place-content: center;
        }
    </style>
</head>

<body class="notification is-danger">
    <h2 class="title is-4">Something went wrong...</h2>
    <p>An error occured while opening the workspace {{ workspace }}</p>
</body>

</html>