{% extends 'base.html.j2' %}

{% block headline %}
{% block title %}OCRD Browser{% endblock %}
{% endblock %}
{% block content %}
<style>
    iframe {
        height: 100vh;
        width: 100%;
    }
</style>
<iframe src="{{ url_for('workspaces.view', workspace=workspace) }}" frameborder="0"></iframe>
{% endblock %}
