{% extends 'base.html' %}

{% block headline %}
  {% block title %}Workspaces{% endblock %}
{% endblock %}

{% block content %}
<ul>
  {% for workspace in workspaces %}
  <li><a class="workspace-name" href="{{ url_for('workspaces.view_workspace', workspace=workspace) }}">{{ workspace }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
