{% extends 'base.html' %}

{% block headline %}
  {% block title %}Workspaces{% endblock %}
{% endblock %}

{% block content %}
<ul>
  {% for w in workspaces %}
  <li><a class="workspace-name" href="{{ url_for('workspaces.view_workspace', workspace=w) }}">{{ w }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
