{% extends 'base.html' %}

{% block headline %}
  {% block title %}Workspaces{% endblock %}
{% endblock %}

{% block content %}
    <style>
        body {
            height: 100vh;
        }

        .section, .container {
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    </style>

    {% if address %}
    <iframe src="{{ address }}" frameborder="0" />
    {% endif %}
{% endblock %}
