{% extends 'base.html' %}

{% block headline %}
  {% block title %}Workspaces{% endblock %}
{% endblock %}

{% block content %}
    <style>
        body {
            height: 100vh;
        }

        .section, .container {
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

    </style>

    <script>
        function checkBrowserAndAddIframe(host, port, sessionId) {
          var request = new XMLHttpRequest();
          request.open("GET", '/workspaces/check-browser-availability/' + port + '?sessionId=' + sessionId, true);
          request.send();
          request.onload = function() {
            status = request.status;
            if (request.status == 200) {
                let main = document.getElementById("main")
                const iframe = document.createElement("iframe");
                iframe.src = "http://" + host + ":" + port;
                iframe.onload = function() { main.getElementsByClassName("loader-wrapper")[0].remove(); iframe.classList.remove("is-hidden"); };
                iframe.frameBorder = 0;
                iframe.classList.add("is-hidden")
                main.appendChild(iframe);
            } else {
              setTimeout(function() {
                checkBrowserAndAddIframe(host, port, sessionId);
              }, 5000);
            }
          }
        }

        {% if host and port and session_id %}
        checkBrowserAndAddIframe('{{ host }}','{{ port }}','{{ session_id }}');
        {% endif %}
    </script>
    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
{% endblock %}
